<!DOCTYPE html>
<html lang="en">

<head>
	<title>星空</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
	<link type="text/css" rel="stylesheet" href="../main.css">
	<style>
		html,
		body,
		#content {
			width: 100%;
			height: 100%;
			overflow: hidden;
		}

		#content {
			background-image: url('images/bg.jpeg')
		}

		a {
			color: #08f;
		}

		/* elementui menu */
		.el-menu-vertical-demo:not(.el-menu--collapse) {
			width: 200px;
			min-height: 400px;
		}
	</style>
	<!-- 中文乱码 -->
	<meta http-equiv="content-type" content="text/html; charset=UTF-8">
	<!-- 参考css -->
	<link rel="stylesheet" type="text/css" href="./css/index.css">
	<link href="./css/app.0eb264d4e7367b563ece694ff8f658be.css" rel="stylesheet">
	<!-- 自定义js -->
	<script src="./js/config.js"></script>
	<!-- vue elementui -->
	<script src="//unpkg.com/vue/dist/vue.min.js"></script>
	<script src="//unpkg.com/element-ui@2.9.1/lib/index.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.9.1/lib/theme-chalk/index.css" type="text/css" />
	<!-- threejs -->
	<script src="../../build/three.min.js"></script>
	<script src="./js/animationLine.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/tween.js/17.1.1/Tween.min.js"></script>
</head>

<body>
	<div id="app">
		<div data-v-72781316 class="index-container">
			<!-- 标题区 -->
			<div data-v-72781316 class="title-container">
				<div data-v-72781316 class="logo">
					<img data-v-72781316 src="./images/logo1_t.png">
				</div>
				<div data-v-72781316 id="search">
					<el-input v-model="searchText" placeholder="搜索网络节点" @keyup.enter.native="searchNode" size="small"
						clearable>
					</el-input>
				</div>
			</div>
			<div data-v-72781316 class="visulization-container">
				<!-- 左侧菜单区 -->
				<div data-v-72781316 class="src-container">
					<ul data-v-72781316="">
						<li data-v-72781316="" v-for="sys in systems" :class="{active:sys==activeSystem}"
							@click="systemMenuClick(sys)">
							{{sys.name}}
						</li>
					</ul>
				</div>
				<!-- 下部菜单区 -->
				<div data-v-72781316 class="middle-container">
					<div data-v-72781316 class="main-visualization">
						<div id="starrysky" class="htmleaf-container">
							<div id="content" class="htmleaf-container"></div>
							<!-- 信息框 -->
							<div v-if="infoBox.show" class="infobox">
								<span class="close" @click="unselectNode"></span>
								<span>标题信息</span>
								<el-divider></el-divider>
								<span>{{infoBox.content}}</span>
								<el-divider></el-divider>
							</div>
						</div>
					</div>
					<ul data-v-72781316 class="menu-container">
						<li data-v-72781316="" v-for="flt in filters" :class="{active:flt==activeFilter}"
							:style="{background:flt.bgColor}" @click="filterMenuClick(flt)">
							{{flt.name}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- vue -->
	<script type="module">
		import { TrackballControls } from '../jsm/controls/TrackballControls.js';
		var vm = new Vue({
			el: '#app',
			mounted: function () {
				this.init();
				this.animate();
			},
			data: {
				renderer: null,
				scene: null,
				camera: null,
				controls: null,
				mouse: null,
				raycaster: null,
				jsonData: null,
				geomNodes: null,
				geomLinks: null,
				moveSteps: 80,
				currentSteps: 0,
				overIndex: -1,
				clickIndex: -1,
				highlightColor: '#ffffff',// 高亮色
				ignoreColor: '#111111',// 忽略色
				systems: g_Systems,// 左侧菜单
				activeSystem: g_Systems[0],// 左侧菜单活动项
				filters: g_Filters,// 底部菜单
				activeFilter: null,// 底部菜单活动项
				searchText: '',// 查询字符串
				infoBox: { show: false, content: "hello" },// 是否显示信息框
				// initData: null,// 初始数据
				// filtData: null,// 过滤数据
			},
			methods: {
				// 初始化
				init: function () {
					this.renderer = new THREE.WebGLRenderer({ antialias: true, alpha: true });
					this.renderer.setPixelRatio(window.devicePixelRatio);
					this.renderer.setSize(window.innerWidth, window.innerHeight);// renderer.setClearAlpha(0.0);// renderer.setClearColor(0xff0000, 1.0);
					document.getElementById('content').appendChild(this.renderer.domElement);
					this.scene = new THREE.Scene();
					// 相机
					this.camera = new THREE.PerspectiveCamera(45.0, window.innerWidth / window.innerHeight, 1, 1500.0);
					this.camera.position.z = 480.0;
					this.scene.add(this.camera);
					// 控制
					this.controls = new TrackballControls(this.camera, this.renderer.domElement);
					this.controls.minDistance = 10.0;
					this.controls.maxDistance = 800.0;
					this.controls.dynamicDampingFactor = 0.1;
					// 灯光
					this.scene.add(new THREE.AmbientLight(0xffffff, 0.2));
					this.camera.add(new THREE.PointLight(0xffffff, 0.7));
					// 场景
					this.createScene(this.activeSystem.value);//
					// 事件
					this.mouse = new THREE.Vector2();
					this.raycaster = new THREE.Raycaster();
					window.addEventListener('resize', this.onWindowResize, false);
					document.addEventListener('mousemove', this.onDocumentMouseMove, false);
					document.addEventListener('mouseup', this.onDocumentMouseUp, false);
				},
				// 重置场景
				resetScene() {
					// 清空点、边
					let count = this.scene.children.length;
					for (let i = count - 1; i >= 0; i--) {
						let child = this.scene.children[i];
						if (child instanceof THREE.Points || child instanceof THREE.LineSegments) {
							this.scene.remove(child);
						}
					}
					this.geomNodes = null;
					this.geomLinks = null;
					this.activeFilter = null;
					// 清空动画线
					clearLines(this.scene);
					// 重置相机
					this.camera.position = new THREE.Vector3(0, 0, -500);
					this.controls.target.set(0, 0, 0);
				},
				// 重置参数
				resetParam: function () {
					this.currentSteps = 0;
					this.infoBox.show = false;
				},
				// 创建场景
				createScene: function (jsonUrl) {
					this.resetScene();
					fetch(jsonUrl).then(r => {
						return r.json();
					}).then(json => {
						this.jsonData = json;
						this.createNodes();
						this.createLinks();
						this.resetParam();
					});
				},
				// 创建节点
				createNodes: function () {
					var amount = this.jsonData.nodes.length;
					var positions = new Float32Array(amount * 3);
					var colors = new Float32Array(amount * 3);
					var sizes = new Float32Array(amount);
					var vertex = new THREE.Vector3();
					var color = new THREE.Color();
					for (let i = 0; i < amount; i++) {
						let node = this.jsonData.nodes[i];
						vertex.toArray(positions, i * 3);
						color.setStyle(this.getNodeColor(node));// color.setHSL(0, 0.7, 0.5);
						color.toArray(colors, i * 3);
						sizes[i] = 35;
					}
					var geometry = new THREE.BufferGeometry();// geometry.dynamic = true;
					geometry.addAttribute('position', new THREE.BufferAttribute(positions, 3));
					geometry.addAttribute('customColor', new THREE.BufferAttribute(colors, 3));
					geometry.addAttribute('size', new THREE.BufferAttribute(sizes, 1));
					var material = new THREE.ShaderMaterial({
						uniforms: {
							color: { value: new THREE.Color() },
							// pointTexture: { value: new THREE.TextureLoader().load("../textures/sprites/spark1.png") }
							pointTexture: { value: new THREE.TextureLoader().load("../textures/lensflare/lensflare0_alpha.png") }
						},
						vertexShader: document.getElementById('vertexshader').textContent,
						fragmentShader: document.getElementById('fragmentshader').textContent,
						blending: THREE.AdditiveBlending,
						depthTest: false,
						transparent: true
					});
					this.geomNodes = new THREE.Points(geometry, material);
					this.scene.add(this.geomNodes);
				},
				// 获取节点颜色
				getNodeColor: function (node) {
					// 忽略色
					if (this.isNodeIgnore(node)) {
						return this.ignoreColor;
					}
					// 高亮色
					let nodeOver = this.getNode(this.overIndex);
					if (nodeOver && node == nodeOver) {
						return this.highlightColor;
					}
					// 类型色
					let flt = this.filters.find(i => i.value == node.type);
					return flt ? flt.bgColor : this.ignoreColor;
				},
				// 创建边
				createLinks: function () {
					var amount = this.jsonData.links.length;
					var vertex = new THREE.Vector3(0, 0, 0);
					var positions = new Float32Array(amount * 2 * 3);
					for (let i = 0; i < amount; i++) {
						let link = this.jsonData.links[i];
						let source = this.jsonData.nodes[link.source];
						let target = this.jsonData.nodes[link.target];
						if (!target.children) target.children = [];
						target.children.push(source);
						vertex.toArray(positions, i * 2 * 3);
						vertex.toArray(positions, i * 2 * 3 + 3);
					}
					var geometry = new THREE.BufferGeometry();
					geometry.addAttribute('position', new THREE.BufferAttribute(positions, 3));
					let mat = new THREE.LineBasicMaterial({ color: 0x333333 });
					this.geomLinks = new THREE.LineSegments(geometry, mat);
					this.scene.add(this.geomLinks);
				},
				// 移动节点
				moveNodes: function () {
					if (this.currentSteps >= this.moveSteps || !this.geomNodes) return;
					this.currentSteps++;
					// 更新点坐标
					var nodePos = this.geomNodes.geometry.attributes.position;
					for (let i = 0; i < this.jsonData.nodes.length; i++) {
						let node = this.jsonData.nodes[i];
						nodePos.array[i * 3] = node.x * this.currentSteps / this.moveSteps;
						nodePos.array[i * 3 + 1] = node.y * this.currentSteps / this.moveSteps;
						nodePos.array[i * 3 + 2] = node.z * this.currentSteps / this.moveSteps;
					}
					nodePos.needsUpdate = true;
					this.geomNodes.geometry.computeBoundingSphere();// 不加这句修改位置后射线查不到
					// 更新边坐标
					var linkPos = this.geomLinks.geometry.attributes.position;
					for (let i = 0; i < this.jsonData.links.length; i++) {
						let link = this.jsonData.links[i];
						let j = link.source;
						linkPos.array[i * 2 * 3] = nodePos.array[j * 3];
						linkPos.array[i * 2 * 3 + 1] = nodePos.array[j * 3 + 1];
						linkPos.array[i * 2 * 3 + 2] = nodePos.array[j * 3 + 2];
						let k = link.target;
						linkPos.array[i * 2 * 3 + 3] = nodePos.array[k * 3];
						linkPos.array[i * 2 * 3 + 4] = nodePos.array[k * 3 + 1];
						linkPos.array[i * 2 * 3 + 5] = nodePos.array[k * 3 + 2];
					}
					linkPos.needsUpdate = true;
					this.geomLinks.geometry.computeBoundingSphere();// 不加这句某些角度线不显示
				},
				// 鼠标移动
				onDocumentMouseMove: function (event) {
					if (!this.geomNodes) return;
					event.preventDefault();
					this.mouse.x = (event.clientX / window.innerWidth) * 2 - 1;
					this.mouse.y = - (event.clientY / window.innerHeight) * 2 + 1;
					this.raycaster.setFromCamera(this.mouse, this.camera);
					var intersects = this.raycaster.intersectObject(this.geomNodes, false);
					let index = -1;
					if (intersects.length > 0) {
						index = intersects[0].index;
						let node = this.getNode(index);
						if (this.isNodeIgnore(node)) return;
					}
					let color = new THREE.Color();// 高亮色
					if (index != this.overIndex) {
						let oldIndex = this.overIndex;
						this.overIndex = index;
						this.updateNodeColor(oldIndex);// 恢复颜色
						this.updateNodeColor(this.overIndex);// 高亮显示
					}
				},
				// 鼠标拾取
				onDocumentMouseUp: function (event) {
					if (this.overIndex >= 0) {
						this.clickIndex = this.overIndex;
						let node = this.getNode(this.clickIndex);
						this.selectNode(node);
					}
				},
				// 获取节点
				getNode(index) {
					if (index < 0) return null;
					return this.jsonData.nodes[index];
				},
				// 查询网络节点
				searchNode: function () {
					let node = this.jsonData.nodes.find(node => {
						if (this.isNodeIgnore(node)) return false;
						return node.id.toString().indexOf(this.searchText) >= 0
					});
					if (node) {
						this.selectNode(node);
					} else {
						this.$message({
							message: '没有找到相关节点！',
							type: 'warning',
							showClose: true
						});
					}
				},
				// 选择节点
				selectNode: function (node) {
					// 飞行
					this.flyTo(node.x, node.y, node.z, this.track);
					clearLines(this.scene);
					// 面板
					this.showInfoBox(node);
				},
				// 取消选择节点
				unselectNode: function () {
					clearLines(this.scene);
					this.infoBox.show = false;
				},
				// 显示信息面板
				showInfoBox: function (node) {
					this.infoBox.node = node;
					this.infoBox.content = `${node.id}: ${node.description}`;
					this.infoBox.show = true;
				},
				// 飞行
				flyTo: function (x, y, z, complete) {
					const duration = 3000;
					const distance = 50;
					const distRatio = 1 + distance / Math.hypot(x, y, z);
					const finalPos = { x: x * distRatio, y: y * distRatio, z: z * distRatio };
					const camPos = Object.assign({}, this.camera.position);
					new TWEEN.Tween(camPos)
						.to(finalPos, duration)
						.easing(TWEEN.Easing.Quadratic.Out)
						.onUpdate((pos) => {
							const { x, y, z } = pos;
							if (x !== undefined) this.camera.position.x = x;
							if (y !== undefined) this.camera.position.y = y;
							if (z !== undefined) this.camera.position.z = z;
						})
						.onComplete(() => {
							if (complete) complete();
						})
						.start();
					const camLookAt = this.getLookAt();
					const finalLookAt = new THREE.Vector3(x, y, z);
					// Face direction in 1 / 3rd of time
					new TWEEN.Tween(camLookAt)
						.to(finalLookAt, duration / 3)
						.easing(TWEEN.Easing.Quadratic.Out)
						.onUpdate((pos) => {
							this.controls.target.set(pos.x, pos.y, pos.z);
						})
						.start();
				},
				// 视点
				getLookAt: function () {
					return Object.assign(
						(new THREE.Vector3(0, 0, -1000))
							.applyQuaternion(this.camera.quaternion)
							.add(this.camera.position)
					);
				},
				// 轨迹
				track: function () {
					if (this.clickIndex >= 0) {
						let node = this.getNode(this.clickIndex);
						if (node.children) {
							let lines = [];
							node.children.forEach(child => {
								lines.push({
									start: new THREE.Vector3(child.x, child.y, child.z),
									end: new THREE.Vector3(node.x, node.y, node.z)
								});
							});
							initLines(this.scene, lines);
						}
					}
				},
				// 单击左侧菜单
				systemMenuClick: function (sys) {
					if (this.activeSystem == sys) return;
					this.activeSystem = sys;
					if (sys.value) {
						this.createScene(sys.value);
					}
				},
				// 单击底部菜单
				filterMenuClick: function (val) {
					this.activeFilter = this.activeFilter == val ? null : val;
					this.updateNodesColor();
				},
				// 更新点颜色
				updateNodeColor: function (index) {
					let node = this.getNode(index);
					if (!node) return;
					let nodeColor = this.geomNodes.geometry.attributes.customColor;
					let color = new THREE.Color();
					color.setStyle(this.getNodeColor(node));
					color.toArray(nodeColor.array, index * 3);
					nodeColor.needsUpdate = true;
				},
				// 更新所有点颜色
				updateNodesColor: function () {
					let nodeColor = this.geomNodes.geometry.attributes.customColor;
					let color = new THREE.Color();
					for (let i = 0; i < this.jsonData.nodes.length; i++) {
						let node = this.jsonData.nodes[i];
						color.setStyle(this.getNodeColor(node));
						color.toArray(nodeColor.array, i * 3);
					}
					nodeColor.needsUpdate = true;
				},
				// 点是否忽略
				isNodeIgnore: function (node) {
					return this.activeFilter && this.activeFilter.value != node.type;
				},
				// 窗口变化
				onWindowResize: function () {
					this.camera.aspect = window.innerWidth / window.innerHeight;
					this.camera.updateProjectionMatrix();
					this.renderer.setSize(window.innerWidth, window.innerHeight);
				},
				// 帧动画
				animate: function (time) {
					requestAnimationFrame(this.animate);
					this.controls.update();
					this.moveNodes();
					TWEEN.update(time);
					this.renderer.render(this.scene, this.camera);
				}
			}
		});
	</script>

	<script type="x-shader/x-vertex" id="vertexshader">
		attribute float size;
		attribute vec3 customColor;
		varying vec3 vColor;
		void main() {
			vColor = customColor;
			vec4 mvPosition = modelViewMatrix * vec4( position, 1.0 );
			gl_PointSize = size * ( 300.0 / -mvPosition.z );
			gl_Position = projectionMatrix * mvPosition;
		}
	</script>

	<script type="x-shader/x-fragment" id="fragmentshader">
		uniform vec3 color;
		uniform sampler2D pointTexture;
		varying vec3 vColor;
		void main() {
			gl_FragColor = vec4( color * vColor, 1.0 );
			gl_FragColor = gl_FragColor * texture2D( pointTexture, gl_PointCoord );
		}
	</script>
</body>

</html>