/* 星空和背景div */
.htmleaf-container{
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height:100%;
}

/* 信息框 */
div.infobox {
    position: absolute;
    top: 150px;
    right: 10px;
    width: 200px;
    height: 300px;
    border-radius: 5px;
    background-color: #363e4f88;
    color: rgba(255, 255, 255, .9);
    padding: 10px;
    font-size: 14px;
}
/* 信息框关闭按钮 */
.close {
    color: gray;
    text-align: center;
    height: 20px;
    width: 20px;
    font-size: 18px;
    padding: 1px;
    top: 5px;
    right: 5px;
    position: absolute;
    cursor: pointer;
    z-index: 1;
}
/* use cross as close button */
.close::before {
    content: "\2716";
}

.loader[data-v-72781316]{
    position: absolute;
    left: 0;
    right: 0;
    top:0;
    bottom: 0;
    width: 100px;
    height: 50px;
    color: white;
    margin: auto;
    font-size: 14px;
    text-align: center;
}
.index-container[data-v-72781316]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}
.visulization-container[data-v-72781316]{
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 100vh;
}
.menu-container[data-v-72781316]{
    position: absolute;
    left:0;right:0;bottom: -1px;
    background: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}
.menu-container li[data-v-72781316]{
    list-style: none;
    color: rgba(255,255,255,.9);
    padding: 10px 0;
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    font-size: 14px;
    line-height: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    cursor: pointer;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    opacity: .6;
    border: 1px solid rgba(255,255,255,0);
    position: relative;
}
.menu-container li[data-v-72781316]:hover, .menu-container li.active[data-v-72781316]{
    opacity: .8;
    color: rgba(255,255,255,1);
    text-shadow: 0 0 20px #000; 
    border: 1px solid rgba(255,255,255,1)
}
.menu-container li.active[data-v-72781316]:before{
    content: '.';
    position: absolute;
    top: -6px;
    left: calc(50% - 1px);
}
.title-container[data-v-72781316]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color:white;
    padding: 15px 24px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    position: fixed;
    left:0;
    right: 0;
    z-index: 1111;
    pointer-events: none;
}
.logo img[data-v-72781316]{
    pointer-events: auto;
    cursor: pointer;
    width: 25vw;
    max-width: 250px;
    min-width: 150px;
}
.button[data-v-72781316]{
    text-align: center;
}
.button > div[data-v-72781316]{
    pointer-events: auto;
    cursor: pointer;
    display: inline-block;
    text-shadow: 0 0 5px #000;
    position: relative;
}
.button > div.active[data-v-72781316]:before{
    content: '.';
    position: absolute;
    top: -12px;
    left: calc(50% - 3px);
    font-weight: bold;
}
.button > div + div[data-v-72781316]{
    margin-left:20px;
}
#search[data-v-72781316]{
    position: absolute;
    left:280px;top:25px;
    width: 250px;
    margin:auto;
    pointer-events: auto;
}
.toggle[data-v-72781316]{
    padding: 5px;
}
.middle-container[data-v-72781316]{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: -webkit-fill-available;
}
.main-visualization[data-v-72781316]{
    -webkit-box-flex:1;
        -ms-flex:1;
            flex:1;
    position: relative;
}
.src-container[data-v-72781316]{
    position: absolute;
    bottom:120px;
    top:120px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    z-index: 1;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}
.src-container > ul[data-v-72781316] {
    max-height: 100%;
    overflow: auto;
}
.src-container li[data-v-72781316]{
    background: #363e4f88;
    border-top: 1px solid #363e4fff;
    text-align: center;
    color: rgba(255,255,255,.9);
    padding: 10px 15px;
    font-size: 14px;
    cursor: pointer;
    margin: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    position: relative;
}
.src-container li[data-v-72781316]:first-child{
    border-top: none;
}
.src-container li[data-v-72781316]:hover,  .src-container li.active[data-v-72781316]{
    background: #363e4fd4;
    color: rgba(255,255,255,1);
}
.src-container li.active[data-v-72781316]:before{
    content: '.';
    position: absolute;
    left: 10px;
    top: 5px;
    font-weight: bold;
    vertical-align: middle;
}
.side-container[data-v-72781316]{
    position: absolute;
    top:0; bottom: 35px;
    left:100%;
    width: 360px;
    padding: 80px 20px 0 20px;
    background: rgba(0,0,0,.4);
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
}
.side-container.active[data-v-72781316]{
    -webkit-transform: translate3d(-360px, 0, 0);
            transform: translate3d(-360px, 0, 0);
}
.side-visualization[data-v-72781316]{
    height: 33%;
    overflow: hidden;
}
iframe[data-v-72781316]{
    width: 100%;
    height: 100%; /* test height should auto size*/
}
@media (max-width: 945px){
    #search[data-v-72781316]{
            left:30vw;
            right: 300px;
            width: auto;
    }
}
@media (max-width: 600px){
    #search[data-v-72781316]{
            left:auto;
            right:30px;
            top: 60px;
            width: 140px;
    }
    .button span[data-v-72781316]{display: none
    }
}
@media (max-width: 499px){
    .side-container[data-v-72781316]{
            width: 100%;
            background: rgba(0,0,0,.4);
    }
    .side-container.active[data-v-72781316]{
            -webkit-transform: translate3d(-100%, 0, 0);
                    transform: translate3d(-100%, 0, 0);
    }
    .src-container.active[data-v-72781316]{
            -webkit-transform: translate3d(-100%, 0, 0);
                    transform: translate3d(-100%, 0, 0);
    }
    .toggle[data-v-72781316]{
            font-size: 20px !important;
    }
    #search[data-v-72781316]{
            left:auto;
            right:30px;
            top: 50px;
            width: 100px;
    }
    .button > div + div[data-v-72781316]{
            margin-left: 10px;
    }
}
